<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

       <hibernate-configuration>
       	<session-factory>
       		<property name="hibernate.connection.username">postgres</property>
       		<property name="hibernate.connection.password">1JWall670581</property>
       		<property name="hibernate.connection.url">jdbc:postgresql://javafsp1.cen4ygabfg2t.us-east-2.rds.amazonaws.com:5432/postgres?currentSchema=p1</property>
       		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
       		
       		<property name="hibernate.dialect">org.hibernate.dialect.PostgeSQLDialect</property>
       		<property name="hibernate.default_schema">p1</property>
       		
       		<property name="hibernate.show_sql">true</property>
       		<property name="hibernate.driver_class">true</property>
       		
       		<property name="hibernate.hbm2ddl.auto">update</property>
       		
       		
       		
       	</session-factory>
       </hibernate-configuration> 